* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100%;
  height: fit-content;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-size: 30px;
  border-radius: 0px;
  box-shadow: 0 0 6px 6px rgb(255, 255, 255);
}

section {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 60vh;
  width: 500px;
  padding: 10px 20px;
  overflow: hidden;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2vh;
  width: 100%;
  background-color: white;
}

.box1 {
  display: grid;
  grid-template-columns: .8fr .2fr;
  gap: 10px;
  width: 100%;
}

.btn_add {
  padding: 5px 8px;
  background-color: blue;
  border: 2px solid blue;
}

input {
  padding: 5px 8px;
  font-size: 15px;
  border: 2px solid blue;
}

.box2 {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: rebeccapurple;
  width: 0px;
}

.boxes {
  background-color: rgb(65, 101, 242);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2vh;
  width: 100%;
  padding: 10px 15px;
}

.icon {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.icons {
  background-color: blue;
  border: 2px solid blue;
  font-size: 25px;
  padding: 2px 3px;
  border-radius: 5px;
}

.pop_up {
  background-color: rgb(0, 25, 106);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2vh;
  width: 50vw;
  height: 20vh;
  border: 2px solid blue;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop_up input {
  width: 100%;
}

.btn_done {
  background-color: blue;
  border: 2px solid blue;
  padding: 5px;
}

.blur {
  filter: blur(10px);
}

img {
  height: 10vh;
  width: 10vw;
}

.gif {
  background-image: url("../public/write.gif");
  background-size: contain;
  height: 180px;
  width: 208px;
  background-repeat: no-repeat;
  position: fixed;
  bottom: 0;
  right: 0;
  filter: drop-shadow(0 0 10px rgb(16, 205, 7));
}


@media screen and (max-width : 600px) {
  section {
    height: 50vh;
    width: 300px;
  }

  .box1 {
    gap: 5px;
  }
}

.error_pop{
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 40px;
}

.error{
  padding: 8px;
  animation: error .3s ease-in-out forwards;
}

@keyframes error {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0);
  }
}